version: '3.8'

services:
  db:
    image: postgres:12-alpine
    restart: always
    environment:
      - POSTGRES_DB=trollabot
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_HOST_AUTH_METHOD=md5
    ports:
      - '5432:5432'
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/01-create_tables.sql:ro

  chatbot:
    build:
      context: ./
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: trollabot
    links:
      - db
    volumes:
      - './:/src'
